.sidebar {
  width: 260px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 30px 20px;

  background: linear-gradient(180deg, #312e81 0%, #4c1d95 100%);

  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  display: flex;
  flex-direction: column;

  box-shadow: 8px 0 25px rgba(0, 0, 0, 0.2);
}

.logo {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1;
}

.navLinks a {
  color: white;
  text-decoration: none;

  padding: 14px 18px;

  border-radius: 14px;

  transition: 0.3s;

  font-weight: 600;
}

.navLinks a:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateX(5px);
}

.logoutBtn {
  border: none;
  padding: 14px;

  border-radius: 14px;

  background: #2563eb;

  color: white;

  cursor: pointer;

  font-weight: 600;
}

.logoutBtn:hover {
  background: #1d4ed8;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    min-height: auto;

    border-radius: 0 0 30px 30px;
  }

  .navLinks {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
